.page-wrapper.layout-file .left-side {
    flex: 1;
}
  
.page-wrapper.layout-file .right-side {
    flex: 1;
}

.page-wrapper.layout-file .left-side .left-panel-image {
    object-fit: contain !important;
    object-position: center !important;
}

.login-portal.layout .page-wrapper {
    background: radial-gradient(circle at 50% 50%, rgba(243, 115, 33, .21836485) 0, rgba(245, 246, 246, .38559174) 35%, #f5f6f6 100%), radial-gradient(circle at 50% 50%, rgba(144, 37, 142, .12343312) 0, rgba(245, 246, 246, .38559174) 47%, #f5f6f6 100%);
    background: radial-gradient(circle at 50% 50%, rgba(0, 102, 204, 0.3) 0%, rgba(173, 216, 230, 0.5) 40%, #e0f7fa 100%), radial-gradient(circle at 50% 50%, rgba(0, 51, 153, 0.2) 0%, rgba(135, 206, 250, 0.4) 50%, #ffffff 100%);
}

@media only screen and (max-width: 2000px) {
    .page-wrapper.layout-file .left-side {
      flex: 1 !important;
    }
  
    .page-wrapper.layout-file .right-side {
      flex: 1 !important;
    }
}
  
@media only screen and (max-width: 1600px) {
    .page-wrapper.layout-file .left-side {
      flex: 1 !important;
    }
  
    .page-wrapper.layout-file .right-side {
      flex: 1 !important;
    }
}
  
@media only screen and (max-width: 1200px) {
    .page-wrapper.layout-file .left-side {
      flex: 1 !important;
    }
  
    .page-wrapper.layout-file .right-side {
      flex: 1 !important;
    }
}

@media only screen and (max-width: 1000px) {
  .page-wrapper.layout-file .left-side {
    flex: 0 !important;
  }

  .page-wrapper.layout-file .right-side {
    flex: 1 !important;
  }
}